@import "_reset.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_chat-bubbles.scss";
@import "intro.scss";


body{
    width: 100%;
    background: #50565C; //url(/img/background/noize.png) repeat;
    font-family: 'Open Sans';

    padding: 10px;
}

